body {
    background: #eee;
    background: url(../img/login_bg.jpg);
}

footer{
    position: fixed;
    bottom: 0;
    background: white;
    padding: 10px;
    font-size: 12px;
}

.jumbotron {
    height: 450px;
    text-align: center;
    width: 30rem;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 5% auto;
    background-color: #fff;
    padding: 2rem;
}

.container .login-icon {
    font-size: 9rem;
    margin-top: 2rem;
    color: #f96145;
}

input {
    width: 100%;
    margin-bottom: 1.4rem;
    padding: 1rem;
    background-color: #ecf2f4;
    border-radius: 0.2rem;
    border: none;
}

#request-invite {
    margin-top: 10px;
}

h2 {
    margin-bottom: 3rem;
    font-weight: bold;
    color: #ababab;
    margin-top: 3px;
}

.full-width {
    width: 100%;
}

.box {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}