/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* App Styles */
body{
    /*padding-bottom: 25px;*/
    opacity: 0;
}

footer{
    position: fixed;
    bottom: 0;
    background: white;
    padding: 10px;
    font-size: 12px;
}

.side-panel {
    padding: 0;
}

.side-panel .list-group{
    margin-bottom: 0;
}

.side-panel .list-group-item {
    border-right: 0;
    border-left: 0;
}

#project-list {
    max-height: 400px;
    overflow: auto;
}

#panel-device {
    overflow: auto;
}

#device {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 3px #eee;
    border: solid 1px #eee;
    margin: 0 auto;
    width: 320px;
    height: 480px;
    position: relative;
    zoom: 0.5;
}

#device * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#device .ti-element{
    overflow: hidden;
}

#device .ti-element:hover{
    overflow: visible;
}

#device.ios .button{
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    /*line-height: 27px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    /*padding: 0 10px;*/
    padding: 10px 35px;
    margin: 0;
    /*height: 29px;*/
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    /*font-size: 18px;*/
    font-size: 38px;
    font-family: inherit;
    /*cursor: pointer;*/
    display: inline-block;
}

#editor-devices{
    margin-top: -5px;
    margin-right: -10px;
}

#editor-devices > li > a {
    padding: 5px 10px;
}

.ios7-bar{
    opacity: 0.5;
    z-index: 1000;
    position: absolute;
    width: 100%;
}

.button-edit{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.btn-remove-controller{
    margin-top: -4px;
    margin-right: -7px;
}

.layout-horizontal > .ti-view,
.layout-horizontal > .ti-window,
.layout-horizontal > .ti-label,
.layout-horizontal > .ti-imageview,
.layout-horizontal > .ti-tableview,
.layout-horizontal > .ti-scrollview{
    display: inline-block;
}

.layout-horizontal > * {
    float: left;
}

.layout-vertical > .ti-view,
.layout-vertical > .ti-window,
.layout-vertical > .ti-label,
.layout-vertical > .ti-imageview,
.layout-vertical > .ti-tableview,
.layout-vertical > .ti-scrollview{
    display: block;
}

.layout-absolute > .ti-view,
.layout-absolute > .ti-window,
.layout-absolute > .ti-label,
.layout-absolute > .ti-imageview,
.layout-absolute > .ti-tableview,
.layout-absolute > .ti-scrollview{
    position: absolute;
}

#chat {
    padding: 4px;
    font-size: 12px;
    height: 200px;
    overflow: auto;
}

.chat-message{
    margin-bottom:3px;
}

.chat-me {
    color: #008CBA;
}

#chat-input{
    border: none;
    resize: none;
}