<div ng-style="getStyle(view)" ng-click="selectView(view, $event)" ng-mouseenter="enterView(view)" ng-mouseleave="leaveView(view)" class="ti-element">
    <div class="btn-group dropup pull-right button-edit">
        <button class="btn btn-default btn-xs dropdown-toggle" ng-show="view.selected && view.hover" ng-click="showMenu = !showMenu">
            <i class="fa fa-cog"></i>
        </button>
        <ul class="dropdown-menu" style="display:block;" ng-show="view.hover && view.selected && showMenu" ng-click="showMenu = !showMenu">
            <li><a href="javascript:void(0)" ng-click="showAddModal()">Add Child</a></li>
            <li><a href="javascript:void(0)" ng-click="removeView(view)" ng-show="view.parent_id">Remove</a></li>
       </ul>
    </div>
</div>