<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Alloy Studio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/codemirror.css">
        <link rel="stylesheet" href="css/select2.css">
        <link rel="stylesheet" href="css/select2-bootstrap.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="//localhost:35729/livereload.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>var user = <%-JSON.stringify(user)%>;</script>
    </head>
    <body ng-app="editor" ng-controller="editorController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Navigation Bar -->
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Alloy Studio</a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    Project<span ng-show="project.name"> ({{ project.name }})</span> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)" ng-click="newProject()">New project</a></li>
                    <li><a href="javascript:void(0)" ng-click="searchProject()">Open project</a></li>
                    <li ng-class="{ disabled: !project._id }"><a href="javascript:void(0)" ng-click="shareProject()">Share project</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)" ng-click="showAddController()">New controller</a></li>
                  </ul>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="showSave()">Save</a>
                </li>
                <li ng-class="{ disabled: !project._id }">
                    <a href="javascript:void(0)" ng-click="generate()">Build Project</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Welcome {{ user.name }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">My Account</a></li>
                    <li class="divider"></li>
                    <li><a href="/api/users/signout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>

        <!-- Main Container -->
        <div class="clearfix">
            <div class="row-fluid">

                <!-- Windows panel -->
                <div class="col-md-3" ng-controller="windowsController">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Controllers
                        </div>
                        <div class="panel-body side-panel" id="menu_windows">
                            <div class="list-group">
                                <a href="javascript:void(0)" class="list-group-item" ng-mouseenter="controller.showRemove = true;" ng-mouseleave="controller.showRemove = false;" ng-repeat="controller in project.controllers" ng-class="{ active: controller.selected }" ng-click="selectController(controller)">
                                    {{ controller.name }}
                                    <button class="btn btn-default btn-xs pull-right btn-remove-controller" ng-show="controller.showRemove" ng-disabled="controllers.length == 1" ng-click="removeController(controller)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" ng-show="project._id && project.public">
                        <div class="panel-heading">
                            Chat
                        </div>
                        <div class="panel-body side-panel" id="chat">
                          <div class="chat-message" ng-repeat="message in chats">
                            <b ng-class="{ 'chat-me': message.username == user.username }">{{ message.username }}:</b> {{ message.message }}
                          </div>
                        </div>
                        <div>
                          <textarea ng-keypress="handleChat($event)" class="form-control" placeholder="Type a message" id="chat-input"></textarea>
                        </div>
                    </div>
                </div>

                <!-- Device Panel -->
                <div class="col-md-6">
                    <ul class="nav nav-tabs" ng-init="tab='visual'">
                      <li ng-class="{ active: tab=='visual'}" ng-click="tab='visual'"><a href="javascript:void(0)">Visual Editor</a></li>
                      <li ng-class="{ active: tab=='view'}"><a href="javascript:void(0)" ng-click="tab='view'; refreshEditor()">View</a></li>
                      <li ng-class="{ active: tab=='style'}"><a href="javascript:void(0)" ng-click="tab='style'; refreshEditor()">Style</a></li>
                    </ul>

                    <!-- View  -->
                    <div class="panel panel-default" ng-show="tab=='view'">
                        <div class="panel-heading">
                            Alloy XML
                        </div>
                        <div class="panel-body">
                            <textaera id="editor_view"></textaera>
                        </div>
                    </div>

                    <!-- View  -->
                    <div class="panel panel-default" ng-show="tab=='style'">
                        <div class="panel-heading">
                            Alloy Style
                        </div>
                        <div class="panel-body">
                            <textaera id="editor_style"></textaera>
                        </div>
                    </div>

                    <!-- Visual -->
                    <div class="panel panel-default" ng-show="tab=='visual'">
                        <div class="panel-heading">
                            Device
                            <ul class="nav nav-pills pull-right" id="editor-devices">
                                <li class="dropdown">
                                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{ getSelectedDevice().name }}
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="device in devices">
                                        <a href="javascript:void(0)" ng-click="selectDevice(device)">{{ device.name }}</a>
                                    </li>
                                  </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body" id="panel-device">
                            <div id="device" ng-class="{ 'ios': getSelectedDevice().name.match('iP') }" ng-style="{ width: getSelectedDevice().resolution.width, height: getSelectedDevice().resolution.height, zoom: getSelectedDevice().zoom }">
                                <image class="ios7-bar" src="img/status_bar.png"/>
                                <tielement view="view" ng-repeat="view in getSelectedController().views"></tielement>
                            </div>
                        </div>
                    </div>

                    <!-- Open project modal -->
                    <div class="modal" id="open-project-modal" data-toggle="manual">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Open project</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                                <ul class="list-group" id="project-list">
                                  <li class="list-group-item" ng-show="!projects.length">
                                    You don't have any project yet.
                                  </li>
                                  <li class="list-group-item" ng-repeat="_project in projects" ng-click="openProject(_project._id)" ng-hide="_project._id == project._id">
                                    <a href="javascript:void(0)">
                                        {{ _project.name }}
                                    </a>
                                  </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Add child modal -->
                    <div class="modal" id="add-child-modal" data-toggle="manual">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="addChildValue = '';">&times;</button>
                            <h4 class="modal-title">Add child</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Element Type</label>
                                <select ui-select2 id="viewTypesModal" class="form-control" ng-model="addChildValue">
                                    <option ng-repeat="type in viewTypes" value="{{ type }}" ng-hide="type=='Window'">{{ type }}</option>
                                </select>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="addChildValue = '';" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!addChildValue" ng-click="addChild()">Add</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Share modal -->
                    <div class="modal" id="share-modal" data-toggle="manual">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Share project</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Search User</label>
                                <input type="text" ui-select2="shareSelect2" id="shareUser" class="form-control" ng-model="shareUser"/>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="shareUser = '';" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!shareUser" ng-click="shareToUser()">Share</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Save project modal -->
                    <div class="modal" id="save-project-modal" name="saveProjectForm" data-toggle="manual">
                      <div class="modal-dialog">
                        <form class="modal-content" ng-submit="saveProject()" name="newProjectForm">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="new.projectName = '';">&times;</button>
                            <h4 class="modal-title">Save project</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Project name</label>
                                <input class="form-control" type="text" name="projectName" ng-model="new.projectName"/>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': new.appId && !validId(new.appId), 'has-success': validId(new.appId) }">
                                <label class="control-label">App ID</label>
                                <input class="form-control" type="text" ng-model="new.appId"/>
                                <span class="help-block">Example: com.yourcompany.appName</span>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="new.projectName = '';" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="!new.projectName || !validId(new.appId)">Save</button>
                          </div>
                        </form>
                      </div>
                    </div>

                    <!-- Add controller modal -->
                    <div class="modal" id="add-controller-modal" data-toggle="manual">
                      <div class="modal-dialog">
                        <form class="modal-content" ng-submit="createController()" id="form_contrller">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">New controller</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input id="controller_name_modal" type="text" class="form-control" ng-model="newControllerName"/>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="newControllerName = '';" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="!newControllerName" ng-click="createController()" data-dismiss="modal">Create</button>
                          </div>
                        </form>
                      </div>
                    </div>

                    <!-- Generating modal -->
                    <div class="modal" id="generating-modal" data-toggle="manual">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" ng-show="!generated">Generating project...</h4>
                            <h4 class="modal-title" ng-show="generated">Download project</h4>
                          </div>
                          <div class="modal-body">
                            <p ng-show="!generated">
                                <i class="fa fa-spinner fa-spin" style="margin-right:8px;"></i> Generating project, please wait...
                            </p>
                            <p ng-show="generated">
                                Project generated successfully, download link: <br/>
                                <a href="{{ generated_path }}">{{ rootUrl }}{{ generated_path }}</a>
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="generated">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>

                <!-- Properties Panel -->
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Properties
                        </div>
                        <div class="panel-body" id="menu_properties">
                            <div class="form-group">
                                <label>Element Type</label>
                                <select ui-select2 id="viewTypes" class="form-control" ng-model="getSelectedView().type" ng-disabled="getSelectedView().type == 'Window'">
                                    <option ng-repeat="type in viewTypes" value="{{ type }}" ng-hide="getSelectedView().type == type || getSelectedView().type != 'Window' && type == 'Window'">{{ type }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" class="form-control" ng-model="getSelectedView().id"/>
                            </div>
                            <div class="form-group">
                                <label>Classes</label>
                                <text id="class_input" ui-select2="{ multiple: true, simple_tags: true, tags:[] }" type="text" class="form-control" ng-model="getSelectedView().classes"/>
                            </div>
                            <table class="table table-stripped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Property</th>
                                        <th>Value</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="prop in getSelectedView().properties">
                                        <td>
                                            <input type="text" class="form-control input-sm" ng-model="prop.name"/>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" ng-model="prop.value"/>
                                        </td>
                                        <td>
                                            <button class="btn btn-default btn-xs pull-right" ng-disabled="!$index && getSelectedView().properties.length == 1" ng-click="removeProp(prop)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <button class="btn btn-success btn-xs pull-right" ng-click="getSelectedView().properties.push({})">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            Alloy Studio created by <a href="mailto:avalosagnostic@gmail.com">Gilberto Avalos</a>, more projects at <a href="http://github.com/Agnostic" target="_blank">Github</a>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/select2.min.js"></script>
        <script src="js/vendor/codemirror.js"></script>
        <script src="js/vendor/cm-plugins/xml-fold.js"></script>
        <script src="js/vendor/cm-plugins/matchtags.js"></script>
        <script src="js/vendor/cm-plugins/matchbrackets.js"></script>
        <script src="js/vendor/mode/xml/xml.js"></script>
        <script src="js/vendor/mode/javascript/javascript.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/ui-select2.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>

        <!-- App -->
        <script src="js/main.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/controllers/editor.js"></script>
        <script src="js/controllers/windows.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
