<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Alloy Studio - Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/login.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-app="editor" ng-controller="loginController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Main Container -->
        <div class="clearfix">
            <div class="jumbotron">
              <div class="container">
                <span class="fa fa-code login-icon"></span>
                <h2>Alloy Studio</h2>
                <form class="box" ng-submit="request()" ng-show="requestInvite">
                    <input type="email" ng-model="email" placeholder="Email"/>
                    <button type="submit" class="btn btn-primary full-width" ng-disabled="loading">Send Request</button>
                    <button type="button" class="btn btn-default full-width" style="margin-top: 10px;" ng-click="requestInvite=false" ng-disabled="loading">Login</button>
                </form>
                <form class="box" ng-submit="login()" ng-show="!requestInvite">
                    <input type="text" ng-model="username" placeholder="Username"/>
                    <input type="password" ng-model="password" placeholder="Password"/>
                    <button type="submit" class="btn btn-primary full-width" id="login-btn" ng-disabled="loading">Login</button>
                    <button type="button" class="btn btn-default full-width" id="request-invite" ng-click="requestInvite=true" ng-disabled="loading">Request an Invite</button>
                </form>
              </div>
            </div>
        </div>

        <footer>
            Alloy Studio created by <a href="mailto:avalosagnostic@gmail.com">Gilberto Avalos</a>, more projects at <a href="http://github.com/Agnostic" target="_blank">Github</a>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/ui-select2.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>

        <!-- App -->
        <script src="js/main.js"></script>
        <script src="js/controllers/login.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
